$backgroundColor : #21232e;
$headerImg: url(../img/m-h-night.jpg);
$backgroundButtonGreen : #e3ac00;
$bannerGradient : background-image: linear-gradient(to right, #dca107 0%,#b05c34 58%,#96314f 100%);
  