$backgroundColor : #fff;
$headerImg: url(../img/m-h-day.jpg);
$backgroundButtonGreen : #699900;
$bannerGradient : background-image: linear-gradient(
    to right,
    #66920d,
    #009259,
    #008899,
    #0077bb,
    #395caf
  );